<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="basket"
		class="us.cyzic.tutorial.udemy.spring.framework.FruitBasket">
	<constructor-arg name="name" value="John's Fruit Basket"></constructor-arg>
	<constructor-arg name="fruits">
		<list>
			<value>banana</value>
			<value>apple</value>
			<value>pineapple</value>
			<value>orange</value>
		</list>
	</constructor-arg>
	</bean>
</beans>
